<div class="mat-page-content">
  <div class="container">
    <div class="filters">
      <h1 class="page-title">My Products</h1>
      <span>
        <!-- <label>Sort by:</label>
          <mat-select class="example-select" placeholder="Product title">
            <mat-option value="before">Before</mat-option>
            <mat-option value="after">After</mat-option>
            <mat-option value="above">Above</mat-option>
            <mat-option value="below">Below</mat-option>
            <mat-option value="left">Left</mat-option>
            <mat-option value="right">Right</mat-option>
          </mat-select> -->
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..">
      </span>
    </div>
    <div class="row">
      <mat-grid-list cols="5" rowHeight="390px">
        <mat-grid-tile *ngFor=" let inventory of inventories| paginate: {itemsPerPage: 10, currentPage:page1, id:'1'} let i = 'index'" class="example-card">
          <mat-card>
            <div class="product-img">
              <img [src]="inventory?.small_image" alt="Image">
              <div class="product-details">
                <h4>ASIN:&nbsp;<span>{{ inventory?.asin }}</span></h4>
                <h4>SKU:&nbsp;<span>{{ inventory?.sku }}</span></h4>
                <h4>TITLE:&nbsp;<span>{{ inventory?.title  }}</span></h4>
                <h4>PRICE:&nbsp;<span>{{ inventory?.price_paisas }}</span></h4>
                <h4>QTY:&nbsp;<span>{{ inventory?.quantity }}</span></h4>
              </div>
            </div>
            <mat-card-content>
              <p>{{ inventory?.title | slice:0:50 }}</p>
            </mat-card-content>
            <mat-card-footer>
              <table>
                <thead>
                  <tr>
                    <th>Asin</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ inventory?.asin }}</td>
                    <td>
                      <mat-slide-toggle [checked]="inventory.enable" (change)=inventory_asin($event,inventory.asin)></mat-slide-toggle>
                    </td>
                  </tr>
                </tbody>
              </table>
            </mat-card-footer>
          </mat-card>
  <!--         <mat-card>
            <div class="card-container">
              <div class="card">
                <div class="side">
                  <mat-card class="temp"> <img mat-card-image [src]="inventory?.find_by_asin[0].small_image" alt="Image"></mat-card>
                </div>
                <div class="side back">
                  <table class="table" width="60%" height="40%" align="center">
                    <tr>
                      <th>ASIN</th>
                      <td>{{ inventory?.asin }}</td>
                    </tr>
                    <tr>
                      <th>SKU</th>
                      <td>{{ inventory?.sku }}</td>
                    </tr>
                    <tr>
                      <th>TITLE</th>
                      <td>{{ inventory?.find_by_asin[0].title }}</td>
                    </tr>
                    <tr>
                      <th>PRICE</th>
                      <td>{{ inventory?.price_paisas }}</td>
                    </tr>
                    <tr>
                      <th>QTY</th>
                      <td>{{ inventory?.quantity }}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <p> {{ inventory?.find_by_asin[0].title }}</p>

            <mat-card-content>

              <b>ASIN:<br> {{ inventory?.asin }}</b>
              <mat-slide-toggle [color]="warn" [checked]="inventory.enable" (change)=inventory_asin($event,inventory.asin)></mat-slide-toggle>
            </mat-card-content>
          </mat-card> -->
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="row">
      <mat-grid-list cols="1" rowHeight="60px">
        <mat-grid-tile>
          <pagination-controls (pageChange)="page1 = $event" id="1" maxSize="5" directionLinks="true" autoHide="true"></pagination-controls>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

<!--     <style>
      .card-container {
        cursor: pointer;
        height: 150px;
        perspective: 600;
        position: relative;
        width: 150px;
      }
      
      .card {
        height: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        width: 100%;
      }
      
      .card:hover {
        transform: rotateY(180deg);
      }
      
      .card .side {
        backface-visibility: hidden;
        border-radius: 6px;
        position: absolute;
        overflow: hidden;
        width: 173px;
        height: 148px;
      }
      
      .card .back {
        background: #eaeaed;
        color: black;
        outline-width: 40px;
        line-height: 13px;
        font-size: 10px;
        transform: rotateY(180deg);
        width: 172px;
      }
      
      th,
      td {
        border: 1px solid black;
        background-color: white;
      }
      
      table {
        border: 5px solid #1abc9c;
        width: 172px;
        background-color: #1abc9c;
      }
    </style> -->

  </div>
</div>