.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;

}


.example-card {
  max-width: 200px;
  max-height: 350px;
  border-style: ridge;
}





.mat-slide-toggle.mat-accent{
	padding-bottom: 40%;
}

.mat-card{
  padding-top: 25%;
}

/*svg image.img{
  float:center;
  object-position: 0 -234px;
}*/



