<app-shared></app-shared>
  <h1> My Products </h1>
  <div class="example-header">
    <mat-form-field>
    <mat-label>Search</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search By ASIN">
    </mat-form-field>
  </div>
 <mat-grid-list cols="4" rowHeight="400px">
  <mat-grid-tile *ngFor="let inventory of inventories| paginate: {itemsPerPage: 5, currentPage:page1, id:'1'} let i = index" class="example-card" >
  <mat-card>
  <mat-card-header >

  </mat-card-header>

<div class="card-container">
  <div class="card">
    <div class="side">

 <mat-card class="temp"> <img mat-card-image [src]="inventory?.find_by_asin[0].small_image"  alt="Image"></mat-card>
 </div>

 <div class="side back">
 <table class="table" width="60%" height="40%" align="center">
  <tr>
  <th>ASIN</th><td>{{ inventory?.asin }}</td></tr>
  <tr><th>SKU</th><td>{{ inventory?.sku }}</td></tr>
  <tr><th>TITLE</th><td>{{ inventory?.find_by_asin[0].title }}</td></tr>
  <tr><th>PRICE</th><td>{{ inventory?.price_paisas }}</td></tr>
  <tr><th>QTY</th><td>{{ inventory?.quantity }}</td></tr></table> 
 </div>
  </div>
</div>
  
  <p style="font-size: 13px;"> {{ inventory?.find_by_asin[0].title }}</p>
 
  <mat-card-content>

  <b>ASIN:<br> {{ inventory?.asin }}</b><mat-slide-toggle [color]="warn" [checked]="inventory.enable" (change)=inventory_asin($event,inventory.asin) style="padding-left: 80%;"></mat-slide-toggle>
  </mat-card-content></mat-card></mat-grid-tile>
   
</mat-grid-list>
<pagination-controls (pageChange)="page1 = $event" id="1"

                      maxSize="5"

                      directionLinks="true"

                      autoHide="true" style="cursor: pointer">

                </pagination-controls>

<style>

.card-container {
  cursor: pointer;
  height: 150px;
  perspective: 600;
  position: relative;
  width: 150px;
}
.card {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  position: absolute;
  overflow: hidden;
  width: 173px;
  height: 148px;
  
}
.card .back {
  background: #eaeaed;
  color: black;
  outline-width: 40px;
  line-height: 13px;
  font-size: 10px;
  transform: rotateY(180deg);
  width: 172px;
}

th, td {
                    border: 1px solid black;
                    background-color: white;
                    }
                    table{
                        border: 5px solid #1abc9c;
                        width:172px;
                        background-color: #1abc9c;
                        
                    }
</style>




