mat-card{
  /*width: -webkit-fill-available;*/
  /*width: -moz-available;*/
  width: 100%;
  margin: 0 0 20px;
  padding: 0px 15px;
  min-height: 363px;
}

.img-grid{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: contain;
    border: 1px solid #dedede;
}

.card-border{
  background-color: #fff;
  /*padding: 15px;*/
  margin-bottom: 15px;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

/*.mat-cell {
    color: #645f5b;
    font-size: 12px;
}*/

.mat-header-row {
  background: #f7f7f7;
}

mat-row:nth-child(odd) {
    background-color: #f7f7f7;
}

mat-card-content p{
      font-size: 14px;
    font-weight: 400;
    color: #585d65;
    min-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mat_price{
    width: 45px;
    height: 45px;
    text-align: center;
    color: #fff;
    background: #5e9beb;
    position: absolute;
    font-weight: bold;
    z-index: 2;
    border: 1px solid #5a98e8;
    top: 0px;
    right: 18px;
    /*border-radius: 100%;*/
    line-height: 41px;
    font-size: 14px;
}
.product-img{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px -15px 16px -15px;
    height: 230px;
    cursor: pointer;
    border-bottom: 1px solid #e3e3e3;
}

.product-img:hover img{
    -ms-transform: scale(1.1,1.1);
    transition: 0.5s ease;
    -webkit-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
    -webkit-box-shadow: 10px 10px 91px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 10px 10px 91px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 91px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #fff;
}

.product-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-details{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  transition-delay: 0.5s;
  background: rgba(34,34,34,.8);
}
.product-img:hover .product-details{
  opacity: 1;
}

.search-results {
            height: 20rem;
            overflow: scroll;
        }
/*
@keyframes fadeFromBottom  {
    0%{
        opacity:0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
        display: block;
    }
}
@keyframes fadeFromtop  {
  0%{
      opacity:1;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      -o-transform: translateY(0px);
      transform: translateY(0px);
  }
  100%{
      opacity: 0;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(400%);
      -o-transform: translateY(100%);
      transform: translateY(100%);
  }
}*/

.product-details .details {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.product-details h4 {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin: 10px 0;
    padding: 0 10px;
}

.product-details h4 span{
  font-weight: 300;
}

.mat-card-footer{
  margin: 0px;
  padding: 10px 0px;
  border-top: 1px solid #dedede;
}

.mat-card-footer table {
    width: 100%;
}

.mat-card-footer th:first-child{
  text-align: left;
}

.mat-card-footer td:last-child{
  text-align: center;
}

.mat-card-footer th {
    font-size: 14px;
    font-weight: 500;
    color: #393939;
}

.mat-card-footer td {
    font-size: 16px;
    color: #325d96;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #20bba7;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #fff;
}

::ng-deep .mat-slide-toggle-thumb-container {
    width: 14px !important;
    height: 14px !important;
    top: 3px !important;
    left: 3px !important;
}

::ng-deep .mat-slide-toggle-thumb {
    height: 14px !important;
    width: 14px !important;
    border-radius: 50% !important;
    box-shadow: none !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    top: 3px !important;
}

::ng-deep .mat-slide-toggle-bar {
    position: relative !important;
    width: 36px !important;
    height: 20px !important;
    border-radius: 20px !important;
}

::ng-deep .mat-form-field-ripple {
    background-color: #0dc2ab;
}

::ng-deep .mat-form-field-underline {
    background-color: rgba(188, 187, 187, 0.42);
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #0dc2ab;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0dc2ab;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #0dc2ab;
}
.filters .mat-icon-button{
    color: #012d45 !important;
    font-size: 17px;
}
.mat-column-id {
    max-width: 5%;
}
.mat-column-image {
    max-width: 10%;
}
.mat-column-asin {
    max-width: 10%;
}
.mat-column-sku {
    max-width: 10%;
}
.mat-column-title {
    max-width: 35%;
}
.mat-column-price {
    max-width: 10%;
}
.mat-column-quantity {
    max-width: 10%;
}
.mat-column-status {
    max-width: 10%;
}
.mat-cell, .mat-header-cell {
    padding: 5px 10px;
}