<app-shared></app-shared>
<h1> Orders </h1>

                <!--table class="table" width="100%">

                    <tr>

                        <th>S.No</th>

                        <th>amazon_order_id</th>

                        <th>Asin</th>

                        <th>Buyer Name</th>

                        <th>Ordered Date</th>

                        <th>Quantity</th>

                        <th>Order Status</th>

                        <th>Total</th>                    

                        </tr>
                      
                    <tr *ngFor="let order of orders | paginate: { itemsPerPage: 10, currentPage: j } let i = index ">

                        

                        <td *ngIf="j == null">{{ i+1}}</td>

                         <td *ngIf="j != null">{{5 *(j*1-1)+i+1}}</td>

                        <td>{{order?.amazon_order_id}}</td>

                        

                        <td>{{order?.find_order[0].asin}}</td>

                        <td>{{order?.buyer_name? order?.buyer_name : "Order Canceled"}}</td>

                        <td>{{order?.purchased_at}}</td>

                        <td>{{order?.find_order[0].order_quantity}}</td>

                        <td>{{order?.tfm_shipment_status ? order?.tfm_shipment_status : order?.status }}</td>
                        

                        <td>{{order?.total}}</td>                     

                        
                    </tr>

                </table>
                <pagination-controls (pageChange)="j = $event"></pagination-controls>
                <style>
                     th, td {
                    border: 1px solid black;
                    background-color: white;
                    }
                    table{
                        border: 1px solid black;
                        
                    }

                </style-->

<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID. </mat-header-cell>
      <mat-cell *matCellDef="let i = index; "> {{ i + 1 }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amazon_order_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Amazon Order ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amazon_order_id}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="asin">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ASIN </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.find_order[0].asin}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.find_order[0].title}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="buyer_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buyer Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.buyer_name? element?.buyer_name : "Order Canceled"}} </mat-cell>
    </ng-container>

     <ng-container matColumnDef="purchased_at">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Ordered Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.purchased_at}} </mat-cell>
    </ng-container>

     <!--ng-container matColumnDef="order_quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.find_order[0].order_quantity}} </mat-cell>
    </ng-container-->

     <ng-container matColumnDef="shipment_status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Order Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.tfm_shipment_status ? element?.tfm_shipment_status : element?.status }} </mat-cell>
    </ng-container>

     <!--ng-container matColumnDef="total">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.total}} </mat-cell>
    </ng-container-->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
 <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
