/*.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}*/

/*.mat-table {
  overflow: auto;
  max-height: calc(100vh - 300px);
}*/

.card-border{
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}

.mat-cell {
    color: #645f5b;
    font-size: 12px;
}

.mat-header-row {
  position: sticky;
  top: 0;
  background: #fbfbfb;
}

mat-row:nth-child(odd) {
    background-color: #fbfbfb;
}

.mat-column-id {
    max-width: 5%;
}

.mat-column-amazon_order_id {
    max-width: 20%;
}

.mat-column-asin {
    max-width: 10%;
}

.mat-column-title {
    max-width: 30%;
    padding-right: 20px;
}

.mat-column-buyer_name {
    max-width: 15%;
}

.mat-column-purchased_at {
    max-width: 10%;
}

.mat-column-shipment_status {
    max-width: 10%;
}

::ng-deep .mat-paginator-container {
    justify-content: space-between !important;
}

::ng-deep .mat-paginator-page-size-label {
    color: #757575;
}

::ng-deep .mat-paginator-container .mat-paginator-range-label{
  color: 757575;
}

::ng-deep .mat-paginator-container .mat-icon-button{
  color: #757575;
}

::ng-deep .mat-paginator-container .mat-icon-button[disabled][disabled]{
  color: #9e9e9e;
}

::ng-deep .mat-form-field-ripple {
    background-color: #0dc2ab;
}

::ng-deep .mat-form-field-underline {
    background-color: rgb(148, 148, 148);
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #0dc2ab;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0dc2ab;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #0dc2ab;
}