<h1> Orders </h1>

                <table class="table" width="100%">

                    <tr>

                        <th>S.No</th>

                        <th>amazon_order_id</th>

                        <th>Asin</th>

                        <th>Buyer Name</th>

                        <th>Ordered Date</th>

                        <th>Quantity</th>

                        <th>Order Status</th>

                        <th>Total</th>                    

                        </tr>
                      
                    <tr *ngFor="let order of orders | paginate: { itemsPerPage: 10, currentPage: j } let i = index ">

                        

                        <td *ngIf="j == null">{{ i+1}}</td>

                         <td *ngIf="j != null">{{5 *(j*1-1)+i+1}}</td>

                        <td>{{order?.amazon_order_id}}</td>

                        

                        <td>{{order?.find_order[0].asin}}</td>

                        <td>{{order?.buyer_name? order?.buyer_name : "Order Canceled"}}</td>

                        <td>{{order?.purchased_at}}</td>

                        <td>{{order?.find_order[0].order_quantity}}</td>

                        <td>{{order?.tfm_shipment_status ? order?.tfm_shipment_status : order?.status }}</td>
                        

                        <td>{{order?.total}}</td>                     

                        
                    </tr>

                </table>
                <pagination-controls (pageChange)="j = $event"></pagination-controls>
                <style>
                     th, td {
                    border: 1px solid black;
                    background-color: white;
                    }
                    table{
                        border: 1px solid black;
                        
                    }

                </style>
