.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25px;

}
.mat-drawer.mat-sidenav.ng-tns-c3-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted{
	width:10%;
}

.mat-button{
	font-size: 30px;

}

.mat-icon.material-icons
{
	font-size: 42px;
}

.mat-raised-button{
	margin-right: 20px;
}


.mat-raised-button:hover {
    background-color: rgb(12, 194, 171);
}

.mat-card{
	width:35%;
	border-color: rgb(12, 194, 171);
	align-items: center;
	display: flex;
	border-style: ridge;
}

.mat-card.ng-star-inserted{
	width:62%%;
	border-color: rgb(63, 81, 181);
	
	border-style: ridge;
}

.mat-icon.material-icons
{
	width: 20px;
font-size: 21px;
}














