mat-card{
  width: 24%;
  padding: 30px !important;
  border: none !important;
/*  min-height: 400px;*/
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
}

.login{
  background-image: url(../../assets/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.login-panel{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 100px;
}

.login-panel mat-card-header{
  background-color: #0cc2ab;
  margin: -30px -30px 15px -30px;
  padding: 30px 30px 20px 30px;
  justify-content: center;
}

.login-panel mat-card-title{
  margin-bottom: 0;
  text-align: center;
}

.login-panel mat-card-title img{
  width: 80%;
}

.login-panel button.mat-raised-button.mat-primary{
  background-color: #7dc586;
}

/*.login-panel img{
  margin-bottom: 55px;
}*/

.login-panel mat-card{
  text-align: left;
  margin: 0 auto;
}

.login-panel p{
  font-size: 13px;
  font-weight: 400;
  color: #c5c4c0;
  margin-top: 30px;
}

.login-panel p a{
  text-decoration: none;
  color: #c5c4c0;
}

.stay-signed{
  margin-bottom: 30px;
  color: #a59a91;
  font-size: 14px;
}

.forgot-pswd{
    color: #405371;
    text-decoration: underline;
    font-size: 13px;
    padding: 5px 0;
}

p.signup{
    color: #405371 !important;
    font-size: 13px;
    padding: 5px 0;
    margin-top: 5px !important;
}

p.signup a{
    color: #405371 !important;
    text-decoration: underline !important;
}


::ng-deep .mat-checkbox-checkmark-path {
    stroke: #20bba7!important;
}

::ng-deep .stay-signed .mat-ripple-element {
    background-color: rgba(13, 194, 171, 0) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, ::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #fff;
}

::ng-deep .mat-form-field-suffix .mat-icon{
  font-size: 20px;
  color: #646464;
  cursor: pointer;
}

::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: space-evenly;
}

::ng-deep .mat-tab-header{
	margin-bottom: 10px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #0dc2ab !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label:focus, ::ng-deep .mat-tab-group.mat-primary .mat-tab-link:focus, ::ng-deep .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, ::ng-deep .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: rgba(13, 194, 171, 0.09);
}

::ng-deep .mat-form-field-ripple {
    background-color: #0dc2ab;
}

::ng-deep .mat-form-field-underline {
    background-color: rgba(188, 187, 187, 0.42);
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #0dc2ab;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0dc2ab;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #0dc2ab;
}

footer{
    background-color: #34435a;
    padding: 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

footer p {
    color: #fff;
    margin: 0;
    font-size: 12px;
    text-align: right;
}

footer p a{
    color: #fff;
    text-decoration: none;
}