/*.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25px;

}
.mat-drawer.mat-sidenav.ng-tns-c3-0.ng-trigger.ng-trigger-transform.mat-drawer-side.ng-star-inserted{
	width:10%;
}

.mat-button{
	font-size: 30px;

}

.mat-icon.material-icons
{
	font-size: 42px;
}

.mat-raised-button{
	margin-right: 20px;
}


.mat-raised-button:hover {
    background-color: rgb(12, 194, 171);
}

.mat-card{
	width:35%;
	border-color: rgb(12, 194, 171);
	align-items: center;
	display: flex;
	border-style: ridge;
}

.mat-card.ng-star-inserted{
	width:62%%;
	border-color: rgb(63, 81, 181);
	
	border-style: ridge;
}

.mat-icon.material-icons
{
	width: 20px;
font-size: 21px;
}
*/

mat-card{
	width: 40%;
  min-height: 400px;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.mat-tab-label{
    font-size: 20px;
    font-weight: 500;
    color: #000 !important;
}

::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: space-evenly;
}

::ng-deep .mat-tab-header{
	margin-bottom: 10px;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #0dc2ab !important;
}

::ng-deep .mat-tab-group.mat-primary .mat-tab-label:focus, ::ng-deep .mat-tab-group.mat-primary .mat-tab-link:focus, ::ng-deep .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, ::ng-deep .mat-tab-nav-bar.mat-primary .mat-tab-link:focus {
    background-color: rgba(13, 194, 171, 0.09);
}

::ng-deep .mat-form-field-ripple {
    background-color: #0dc2ab;
}

::ng-deep .mat-form-field-underline {
    background-color: rgba(188, 187, 187, 0.42);
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #0dc2ab;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0dc2ab;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #0dc2ab;
}