<mat-card>
<mat-tab-group>
 <mat-tab label="Login"> 
<!-- <mat-toolbar><button routerLink="dashboard" routerLinkActive="active" mat-raised-button > DashBoard </button>   
 <button routerLink="inventory" mat-raised-button > My Products </button>
 <button routerLink="order" mat-raised-button > My Orders </button>
 <button routerLink="campaign" mat-raised-button > Email Campaigns </button>
 <button routerLink="promotion" mat-raised-button > Promotions </button>
 </mat-toolbar> -->
  
  <mat-card>

  <form class="example-form" novalidate (ngSubmit)="login()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Your@email.com" [formControl]="emailFormControl" class="form-control" id="email" name="email" [(ngModel)] = "email">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type=password placeholder="Password" [formControl]="passwordFormControl" class="form-control" id="password" name="password" [(ngModel)] = "password">
    <mat-error *ngIf="passwordFormControl.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary"> Login </button>
</form>
</mat-card>

</mat-tab>


<mat-tab label="Register"> 
<mat-card>

<app-register> </app-register>

</mat-card>
</mat-tab>

</mat-tab-group>
</mat-card>




