<div class="mat-page-content">
  <div class="container">
    <div class="filters">
      <h1 class="page-title">Email Campaigns</h1>
      <button mat-mini-fab color="primary" class="float-right" (click)="new_campaign()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!--ckeditor
    [(ngModel)]="ckeditorContent"
    [config]="ckeConfig"
    [readonly]="false"
    (change)="onChange($event)"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    debounce="500">
    <ckgroup
      [name]="'documenthandling'"
      [previous]="'1'">
      <ckbutton 
       [name]="'imageExplorer'"
       [command]="'insertcontent'"
       (click)="insert($event)"
       [icon]="'https://png.icons8.com/color/540/bow-tie-half-filled.png'"
       [label]="'Insert_content'">
     </ckbutton>
   </ckgroup>
 </ckeditor-->

  <div class="row">
    <mat-grid-list cols="2" rowHeight="380px">
      <mat-grid-tile *ngFor=" let campaing of campaings| paginate: {itemsPerPage: 6, currentPage:page1, id:'1'} let i = 'index'">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ campaing.campagin_name }}</mat-card-title>
            <div class="nav_ic">
              <button mat-icon-button (click)="campaign_edit(campaing.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="campaign_delete(campaing.id,$index)">
                <mat-icon>delete</mat-icon>
              </button>
              <mat-slide-toggle [color]="primary" [checked]="campaing.enable" (change)="enable(campaing.id,$event)"></mat-slide-toggle>
            </div>
            <mat-card-subtitle><p>Asin: <span>  {{ campaing.asin }} </span></p></mat-card-subtitle> <!-- <p>{{ campaing.asin }}</p> -->
          </mat-card-header>
          <mat-card-content>
            <mat-list role="list">
              <table class="table" width="100%">
                <thead>
                  <tr>
                    <th>Subjects</th>
                    <th>Trigger</th>
                    <th>Days</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let trigger of campaing.triggers">
                    <td>Feedback Message1</td>
                    <td>{{trigger.trigger}}</td>
                    <td>{{trigger.days}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="row">
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
        <pagination-controls (pageChange)="page1 = $event" id="1" maxSize="5" directionLinks="true" autoHide="true"></pagination-controls>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  </div>
</div>