
<div mat-dialog-content>
  <b><p>Schedule E-Mail</p></b>

<form [formGroup]="myForm" novalidate >
        <div formArrayName="addresses">
          <div *ngFor="let address of getTasks(myForm); let i=index">
            <div class="panel-heading">
              <span> Trigger {{i + 1}}</span>
            <mat-icon *ngIf="myForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)">delete</mat-icon>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <trigger [group]="myForm.controls.addresses.controls[i]"></trigger>
            </div>
          </div>
        </div>
     <mat-icon (click)="addAddress()">add_circle</mat-icon>
<br>
        <button mat-raised-button type="submit"  [disabled]="!myForm.valid" (click)="save(myForm)">Create Campaign</button>   </form>
<!--{{myForm.value.addresses | json}}-->
</div>
<div mat-dialog-actions>  