.example-card {
  width: 100%;

  padding-left: 10%;
}

.example-card {
  max-width: 400px;
  height:200px;
  border-style: ridge;
}

.example-card.mat-card
{
	padding-left: 0px;
}
.mat-slide-toggle-label{
	padding-left: 82px;
}
.mat-card{
	width:100%;

}


.example-card {

  border-style: ridge;
}



