<!--div [formGroup]="adressForm">
    <div class="form-group col-xs-6">
        <label>street</label>
        <input type="text" class="form-control" formControlName="street">
        <small [hidden]="adressForm.controls.street.valid" class="text-danger">
            Street is required
        </small>
    </div>
    <div class="form-group col-xs-6">
        <label>postcode</label>
        <input type="text" class="form-control" formControlName="postcode">
    </div>
</div-->
<div [formGroup]="adressForm">
  <button mat-fab color="primary">Start</button>
 <mat-form-field>
  <mat-select placeholder="select triggers" formControlName="trigger">
    <mat-option *ngFor="let value of values" [value]="value"> {{ value }} </mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
 <input type="number" min='0' max='30' matInput placeholder="Days" formControlName="days">
</mat-form-field>
<button mat-fab color="primary">End</button>
</div>