<style>
  .mat-header-row {
    top: 0;
    position: sticky;
    z-index: 1;
    background-color: inherit;
}
</style>
<div class="mat-page-content email-status">
  <div class="filters">
    <div class="container">
      <h1 class="page-title">Statistics 
        <button mat-button mat-raised-button class="blue float-right" routerLink="/campaign"><i class="ti-arrow-left"></i>Back to Campaign</button>
        <span class="float-right d-flex align-items-center">
          <input matInput placeholder="Search keyword..">
        </span>

      </h1>
    </div>
  </div>
  <div class="container">
<mat-tab-group>
   <mat-tab label="Summary">
   <mat-grid-list cols="3">
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.asin}}</h2>
              <p>Asin Included</p>
            </span>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.sent}}</h2>
              <p>Campaign Email Sent</p>
            </span>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.scheduled}}</h2>
              <p>Campaign Email Scheduled</p>
            </span>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Sent Email">
<div class="mat-page-content">
  <div class="container">
    <div class="filters">
      <h1 class="page-title">Sent Email </h1>
      <span>
        <input matInput (keyup)="applyFilter1($event.target.value)" placeholder="Search keyword..">
      </span>
    </div>
  </div>
    <div class="container" (scroll)="onScroll($event)" style="overflow: auto; max-height: 500px;">
    <div class="card-border emailbg" >
      <mat-table #table [dataSource]="dataSource1" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
          <mat-cell *matCellDef="let i = index; "> {{ i + 1 }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="buyer_name"> 
          <mat-header-cell *matHeaderCellDef> Buyer Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.buyer_name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sent_date">
          <mat-header-cell *matHeaderCellDef> Sent Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sent_date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amazon_order_id">
          <mat-header-cell *matHeaderCellDef> Amazon Order Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amazon_order_id }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="subject">
          <mat-header-cell *matHeaderCellDef> subject </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.subject}}<!--mat-icon matTooltip="Preview" (click)="preview_template(element.template_data)">visibility</mat-icon--></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
       <!--mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator-->


    </div>
</div>
  
</div>
</mat-tab>
<mat-tab label="Pending Email">
 <div class="mat-page-content">
  <div class="container">
    <div class="filters">
      <h1 class="page-title">Scheduled Email </h1>
      <span>
        <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Search keyword..">
      </span>
    </div>
    </div>
    <div class="card-border" (scroll)="onScrollPending($event)" style="overflow: auto; max-height: 500px;">
      <mat-table #table [dataSource]="dataSource2" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> S.No </mat-header-cell>
          <mat-cell *matCellDef="let i = index; "> {{ i + 1 }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="buyer_name"> 
          <mat-header-cell *matHeaderCellDef> Buyer Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.buyer_name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="sent_date">
          <mat-header-cell *matHeaderCellDef> Scheduled Date </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.sent_date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amazon_order_id">
          <mat-header-cell *matHeaderCellDef> Amazon Order Id </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.amazon_order_id }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="subject">
          <mat-header-cell *matHeaderCellDef> subject </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.subject}}<!--mat-icon matTooltip="Preview" (click)="preview_template(element.template_data)">visibility</mat-icon--> </mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
       <!--mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator-->


    </div>

  
</div> 
</mat-tab>
</mat-tab-group>
</div>
</div>