<header *ngIf="nav.visible">
  <div class="container">
    <mat-toolbar>
     <a matTooltip="Home" routerLink="/dashboard" class="logo">
         <img src="assets/logo_sml.png">
     </a>
      <div class="menu">
      	<span>
	        <button mat-button routerLink="/dashboard"> Overview </button>
	        <button mat-button routerLink="/inventory"> My Products </button>
	        <button mat-button routerLink="/order"> My Orders </button>
	        <button mat-button routerLink="/campaign"> Email Campaigns </button>
	        <button mat-button routerLink="/promotion"> Promotions </button>
      	</span>
<!--         <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>  -->       
        <span>
	        <button matTooltip="Notification" mat-icon-button>
	          <mat-icon>notifications_none</mat-icon>
	        </button>
	        <button matTooltip="Profile" mat-icon-button routerLink="/profile">
	          <div mat-card-avatar class="avatar-image"></div>
	        </button>
	        <button matTooltip="logout" mat-icon-button (click)=logout()>
	          <!--div mat-card-avatar class="avatar-image"></div-->
	          <mat-icon>power_settings_new</mat-icon>
	        </button>
        </span>
      </div>
      <div class="toggle-menu">
        <button matTooltip="Menu" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
			<button mat-menu-item routerLink="/dashboard"> Overview </button>
			<button mat-menu-item routerLink="/inventory"> My Products </button>
			<button mat-menu-item routerLink="/order"> My Orders </button>
			<button mat-menu-item routerLink="/campaign"> Email Campaigns </button>
			<button mat-menu-item routerLink="/promotion"> Promotions </button>
			<button mat-menu-item>
				<mat-icon>person</mat-icon>
				<span>profile</span>
			</button>
			<button mat-menu-item (click)=logout()>
				<mat-icon>power_settings_new</mat-icon>
				<span>logout</span>
			</button>
        </mat-menu>
      </div>
    </mat-toolbar>    
  </div>
</header>	
<router-outlet></router-outlet>
<footer>
	<div class="container">
		<p>Powered by <a href="https://www.altiussolution.com/" target="blank">Altius Solutions</a></p>
	</div>
</footer>