 <mat-grid-list cols="4">
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.sent}}</h2>
              <p>Promotion Email Sent</p>
            </span>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.scheduled}}</h2>
              <p>Promotion Email Scheduled</p>
            </span>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.uniq_cus}}</h2>
              <p>Customer Count</p>
            </span>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
         <mat-card class="example-card">
            <mat-icon>grade</mat-icon>
            <span>
              <h2>{{status.benifit}}</h2>
              <p>Increase Percent</p>
            </span>
          </mat-card>
        </mat-grid-tile>
    </mat-grid-list>