<button mat-raised-button color="primary" (click)="promote()"> Create Promotion </button> 

                <mat-grid-list cols="5" rowHeight="400px">
                <mat-grid-tile *ngFor="let promotion of promotions; let i = index" class="example-card">
                <mat-card>
  <mat-card-header >
    <!--div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ promotion?.promotion_title }}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle-->
  </mat-card-header>
  <img mat-card-image [src]="promotion.inventory.find_by_asin[0].small_image" height="100" alt="Image">
  <mat-card-subtitle>{{ promotion?.promotion_title }}</mat-card-subtitle>
  
    <p style="font-size: 13px;">
      Details of the Product
    </p>
  
  <mat-card-content>
  <p><s>{{ promotion.inventory.price_paisas }}</s> ${{  promotion?.discount_price }}
  <mat-slide-toggle [color]="primary" [disabled]="promotion?.enable" style="padding-left: 50%;"></mat-slide-toggle></p>

  <mat-form-field class="example-full-width" style="width: 48%;">
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Start date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<mat-form-field class="example-full-width" style="width: 48%;">
  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="End date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field></mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" style="margin-left: 30%;">PRIVIEW</button>
    <!--button mat-button>SHARE</button-->
  </mat-card-actions>
</mat-card></mat-grid-tile></mat-grid-list>

