<div class="mat-page-content">
<div class="filters">
  <div class="container">
      <h1 class="page-title">My Promotions
      <span class="float-right d-flex align-items-center">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" appAutofocus>
        <button mat-button mat-raised-button (click)="promote();topproductChange()" class="blue">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </span>
      </h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12" *ngFor=" let promotion of promotions| paginate: {itemsPerPage: 10, currentPage:page1, id:'1'} let i = 'index'">
          <mat-card>
            <div class="product-img">
              <img [src]="promotion.inventory.find_by_asin[0].small_image">
              <!--div class="product-details">
                <div class="details">
                  <h4>ASIN:&nbsp;<span>{{ promotion.inventory.asin }}</span></h4>
                  <h4>SKU:&nbsp;<span>{{ promotion.inventory.sku }}</span></h4>
                  <h4>TITLE:&nbsp;<span>{{ promotion.inventory.find_by_asin[0].title }}</span></h4>
                  <h4>PRICE:&nbsp;<span>{{ promotion.inventory.price_paisas.fractional }}</span></h4>
                  <h4>QTY:&nbsp;<span>{{ promotion.inventory.quantity }}</span></h4>
                </div>
              </div-->
            </div>
            <mat-card-content>
              <div class="modify">
                <button mat-icon-button (click)="promotion_email_stat(promotion.id)" matTooltip="Statistics">
                  <mat-icon>assessment</mat-icon>
                </button>
                <button mat-icon-button (click)="promotion_edit(promotion.id)" matTooltip="edit">
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button (click)="promotion_delete(promotion,$index)" matTooltip="delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <h4>{{ promotion?.promotion_title }} </h4>
              <p>{{ promotion?.inventory.find_by_asin[0].title }} </p>
              <div class="price">
                <span><s>&#8377;{{ promotion.product_price }}</s>&nbsp;<b> &#8377;{{  promotion?.discount_price }}</b></span>
                <mat-slide-toggle [color]="primary" [checked]="promotion?.enable" 
                [disabled]="!(promotion.from_date && promotion.to_date)"  
                (change)=enable($event,promotion.id,promotion.inventory.id,i,promotion.from_date,promotion?.to_date)></mat-slide-toggle>
              </div><!--[disabled]="!(start_date[i] && end_date[i])"  [value]="promotion.to_date"-->
            </mat-card-content>
            <mat-card-footer>
              <mat-grid-list cols="2" rowHeight="65px">
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput [min]="min_date" [max]="maxDate" [matDatepicker]="picker1"
                     [(ngModel)]="promotion.from_date" 
                     placeholder="Start date">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile>
                  <mat-form-field>
                    <input matInput [min]="promotion.from_date" [max]="maxDate" [matDatepicker]="picker" 
                    [(ngModel)]="promotion.to_date" 
                     placeholder="End date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
              <!-- <button mat-raised-button (click)="promotion_preview(promotion.promotion_template)" color="primary">Sample</button> -->
            </mat-card-footer>
          </mat-card>
       </div>
    </div>
    <div class="row">
      <mat-grid-list cols="1" rowHeight="60px">
        <mat-grid-tile>
          <pagination-controls (pageChange)="page1 = $event" id="1" maxSize="5" directionLinks="true" autoHide="true"></pagination-controls>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>