.example-card {
  max-width: 200px;
  border-style: ridge;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-image {
    width: 90%;
    height:50%;
    padding-left: 30%;
    padding-right: 20%;
}

.mat-raised-button.mat-accent{
	padding-bottom: 28px;

}
.mat-card{
	width:100%;
	
}

