<div class="popup-select">
  <header>
    <h1>Select Your Product</h1>
  </header>
    <span>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search..">
      </span>
  <mat-grid-list cols="1" rowHeight="340px">
    <mat-grid-tile>
        <div class="table-scroll">
          <table class="table" width="100%">
            <thead>
              <tr>
                <th>Image</th>
                <th>Title</th>
                <th>ASIN</th>
                <th>Enable</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inventory of inventories">
                <td> <img [src]="inventory?.small_image" alt="Smiley face" height="100" width="100"> </td>
                <td>{{inventory?.title}}</td>
                <td>{{inventory?.asin}}</td>
                <td><mat-slide-toggle [color]="primary" [disabled]="(inventory.id != id && id != 0)" 
                 *ngIf="!inventory.promotion_in_use" (change)=asin($event,inventory.id)></mat-slide-toggle>
                <!--[checked]="inventory.children_in_use" [checked]="edit_data?.inventory.asin" *ngIf="!inventory?.promotion_in_use"  -->
                <mat-icon *ngIf="inventory.promotion_in_use" matTooltip="Promotion already in use">error_outline</mat-icon>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
          <!--div *ngFor="let inventory of inventories; let i = index" class="example-card"-->

          <!--/div-->
          <!--  <button mat-button (click)="onNoClick()" color="warn" > Cancel </button>
        <button  mat-button (click)="ok(name)" color="primary" cdkFocusInitial> CONFIRM </button>
       -->
    </mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" rowHeight="70px">
    <mat-grid-tile>
      <div>
        <button mat-button (click)="cancel()" mat-raised-button>Cancel</button>
        <button mat-button (click)="ok()" cdkFocusInitial mat-raised-button [disabled]='id == 0' color="primary">Confirm</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>