<div class="popup-select">
  <header>
    <h1 class="d-flex justify-content-between align-items-center">Top Performing Products
     <mat-icon (click)="close()">close</mat-icon>
    </h1>
  </header>
    <span>
         <mat-select placeholder="45 Days" (change)="top_order_filter($event)" style="width: 40%;">
                <mat-option *ngFor="let value of values" [value]="value"> {{ value }} </mat-option>
              </mat-select>
      </span>
      <button mat-raised-button (click)="datareverse()">Sort</button>
  <div class="container">
    <div class="row">
        <div class="col-md-12 daily_order">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Seller SKU</th> 
                <th>Quantity</th>
                <th>Customer count</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of top_products; let i = index " >
              <td>{{ i + 1 }}</td>
              <td>{{ product.title[0] }}</td>
              <td>{{ product.title[1] }}</td>
              <td><b>{{ product.order_quantity }}</b></td>
              <td><b>{{ product.asin }}</b></td>
              <td><mat-icon routerLink="/promotion" (click)="productClick(product)">send</mat-icon></td>
          </tr>
            </tbody>
          </table>
        </div>
          <!--div *ngFor="let inventory of inventories; let i = index" class="example-card"-->

          <!--/div-->
          <!--  <button mat-button (click)="onNoClick()" color="warn" > Cancel </button>
        <button  mat-button (click)="ok(name)" color="primary" cdkFocusInitial> CONFIRM </button>
       -->
    </div>
  </div>
  
      <button mat-raised-button color="" (click)="close()"> Close </button>
    
</div>