<div class="popup-select">
  <header>
    <h1 class="d-flex justify-content-between align-items-center">Daily Orders: {{date}}
      <mat-icon (click)="close()">close</mat-icon>
    </h1>
  </header>
    <span>
       
      </span>
   <div class="container">
    <div class="row">
        <div class="col-md-12 daily_order">
          <table class="table">
            <thead>
              <tr>
                <th>Id</th>
                <th>Amazon OrderId</th>
                <th>Asin</th>
                <th>Title</th>
                <th>Buyer Name</th>
                <th>Order Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of daily_orders; let i = index ">
                <td>{{ i + 1 }}</td>
                <td>{{ product?.amazon_order_id }}</td>
                <td>{{ product?.find_order[0].asin }}</td>
                <td>{{ product?.find_order[0].title }}</td>
                <td>{{ product?.buyer_name }}</td>
                <td>{{ product?.tfm_shipment_status ? product?.tfm_shipment_status : product?.status }}</td>
                
              </tr>
            </tbody>
          </table>
        </div>
          <!--div *ngFor="let inventory of inventories; let i = index" class="example-card"-->

          <!--/div-->
          <!--  <button mat-button (click)="onNoClick()" color="warn" > Cancel </button>
        <button  mat-button (click)="ok(name)" color="primary" cdkFocusInitial> CONFIRM </button>
       -->
    </div>
  </div>
  
     <button mat-raised-button color="danger" (click)="close()"> Close </button> 
    
</div>