mat-grid-list{
  margin:10px 0px;
}

mat-card{
    width: 100%;
    margin: 10px;
    padding: 15px;
}

mat-card-title{
  font-size: 16px;
  color: #433e3b;
  margin-bottom: 15px;
}

mat-select{
    width: 16%;
    float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 18px;
    margin-right: 14px;
    padding: 5px;
    font-size: 14px;
}

.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: #423e3b;
}

.overview mat-card{
  display: inline-flex;
  align-items: center;
}

.overview mat-card span{
  margin-left: 10px;
}

.overview mat-card mat-icon{
    font-size: 24px;
    color: #7cc387;
    background-color: #c8e6ce;
    border-radius: 50%;
    padding: 12px;
}

.overview mat-card h2{
    margin: 0;
    font-weight: 300;
    font-size: 34px;
    color: #303133;
}

.overview mat-card p{
    margin: 0;
    font-weight: 200;
    color: #97989c;
}

.line-chart mat-card-title{
  margin-bottom: 30px;
}

.doughnut-chart mat-card{
  min-height: 355px;
}

.doughnut-chart mat-card button{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #4c4c4c;
}

.doughnut-chart mat-card-footer{
  padding: 0px 20px;
  display: flex;
  justify-content: space-evenly;
}

.doughnut-chart mat-card-footer{
  margin: 15px -15px -15px -15px;
}

.mat-header-row, .mat-row {
    border-bottom-color: rgba(0,0,0, .07);
}

.mat-row:last-child{
  border-bottom: 0px;
}

.mat-column-id {
    max-width: 15%;
}

.mat-column-product_list {
    max-width: 65%;
}

.mat-column-count {
    max-width: 20%;
    text-align: center;
}

.mat-cell.mat-column-count span{
    background-color: #7cc387;
    padding: 5px 10px;
    border-radius: 50%;
    display: inline-flex;
    color: #fff;
}

.doughnut-label{
    display: inline-flex;
    align-items: flex-start;
    margin: 0 10px;
}

.doughnut-label span:first-child{
    background-color: #c9e6ce;
    padding: 10px;
    border-radius: 4px;
    border-radius: 1px;
    height: 30px;
    margin-right: 15px;
}

.doughnut-label h3{
  margin:0;
}

.doughnut-label p{
  margin: 0;
  font-size: 14px;
}

.mat-cell {
    color: #433e3b;
}

::ng-deep .mat-form-field-ripple {
    background-color: #0dc2ab;
}

::ng-deep .mat-form-field-underline {
    background-color: rgba(188, 187, 187, 0.42);
}

::ng-deep .mat-focused .mat-form-field-label {
    color: #0dc2ab;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #0dc2ab;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: #0dc2ab;
}