<div class="popup-select">
  <header class="neg-feed">
    <h1 class="d-flex justify-content-between align-items-center">Negative Feedback Alert!
     <mat-icon (click)="close()">close</mat-icon>
    </h1>
  </header>
    <span>
        
      </span>
  <div class="container">
    <div class="row">
        <div class="col-md-12 daily_order">
          <table class="table">
            <thead>
              <tr>
               <th>Id</th>
               <th>Comments</th>
               <th>Order Id</th>
               <th>Rating</th>
               <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let feedback of feedbacks; let i = index ">
              <td>{{ i + 1 }}</td>
              <td>{{ feedback.comments }}</td>
              <td>{{ feedback.order_id }}</td>
              <td style = "text-align: center;">{{ feedback.rating  }}</td>
             <td><mat-icon (click)="replay(feedback)">send</mat-icon></td>
          </tr>
            </tbody>
          </table>
        </div>
          <!--div *ngFor="let inventory of inventories; let i = index" class="example-card"-->

          <!--/div-->
          <!--  <button mat-button (click)="onNoClick()" color="warn" > Cancel </button>
        <button  mat-button (click)="ok(name)" color="primary" cdkFocusInitial> CONFIRM </button>
       -->
    </div>
  </div>
  
      <button mat-raised-button color="danger" (click)="close()"> Close </button>
   
</div>