<div  >
    <!-- <header class="neg-feed">
      <h1 class="d-flex justify-content-between align-items-center">Status!
       <mat-icon (click)="close()">close</mat-icon>
      </h1>
    </header> -->
  
      <div class="row">
          <div class="col-md-12" *ngIf="status == 'failed'">
            <img style="height: 100%;width: 100%;" src="assets/failed.png">
          </div>
          <div class="col-md-12" *ngIf="status == 'authorized'">
            <img style="height: 100%;width: 100%;" src="assets/success.png">
          </div>
        
      </div>
    
        <button mat-raised-button color="danger" (click)="close()"> Close </button>
     
  </div>